body{
  font-family: Arial;
  text-align: center;
}

.cajitas{
  width: 60px;
  height: 60px;
  margin: 3.4px;
}

.texto{
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correctas{
  background: #008000;
  color: white;
  border-color: green;
}

.erroneas{
  background: #B6B6B6;
  color: white;
  border-color: gray;
}

.presentes{
  background: #FFE800;
  color: white;
  border-color: yellow;
}
